version: '3.8'

services:
  # Serviço do Bot
  bot:
    build: .
    container_name: discord_bot_enterprise
    restart: always
    environment:
      # Observe que o host do mongo agora é o nome do serviço abaixo: 'mongo_db'
      - MONGO_URI=mongodb://mongo_db:27017/discordbot
      - DISCORD_TOKEN=${DISCORD_TOKEN}
      - CLIENT_ID=${CLIENT_ID}
      - OWNER_IDS=${OWNER_IDS}
    depends_on:
      - mongo_db
    volumes:
      # Mapeia logs para fora do container para fácil leitura
      - ./logs:/usr/src/app/logs

  # Serviço do Banco de Dados
  mongo_db:
    image: mongo:6.0
    container_name: bot_mongodb
    restart: always
    volumes:
      # Persistência de dados (para não perder dados se reiniciar o container)
      - mongo_data:/data/db
    ports:
      # Abre a porta apenas localmente para você inspecionar o DB se precisar
      - "127.0.0.1:27017:27017"

volumes:
  mongo_data: